*.orig
*.rej
*.sw?
*~
/.cdtproject
/.project
/.tm_project.cache
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/autom4te.cache
/compile
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gegl-config
/gegl-uninstalled.pc
/gegl-*.pc
/gegl.prj
/gegl.pws
/gegl.spec
/install-sh
/libtool
/ltconfig
/ltmain.sh
/mingw32-config.cache
/missing
/mkinstalldirs
/py-compile
/share
/stamp-h
/stamp-h.in
/stamp-h1
/test-driver
/tests/*/*.log
/tests/*/*.trs
cscope.files
cscope.out
/*.project
m4/intltool.m4
