/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/autom4te.cache
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gegl-config
/gegl-uninstalled.pc
/gegl.pc
/gegl.spec
/install-sh
/libtool
/ltconfig
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h
/stamp-h1
/stamp-h.in
/.cdtproject
/.project
/.tm_project.cache
/gegl.prj
/gegl.pws
/py-compile
/compile
