/*.la
/*.lo
/*.o
/.deps
/.libs
/Makefile
/Makefile.in
/test-backend-file
/test-change-processor-rect
/test-color-op
/test-convert-format
/test-empty-tile
/test-exp-combine.sh
/test-gegl-rectangle
/test-gegl-tile
/test-image-compare
/test-license-check
/test-misc
/test-node-connections
/test-node-properties
/test-object-forked
/test-opencl-colors
/test-path
/test-proxynop-processing
/test-buffer-cast
/test-buffer-extract
/test-buffer-changes
/test-format-sensing
/test-gegl-color
/test-scaled-blit
/test-svg-abyss
/test-buffer-tile-voiding
/test-buffer-hot-tile
/test-node-passthrough
/test-serialize
/test-buffer-sharing
