/*.la
/*.lo
/*.o
/.deps
/.libs
/Makefile
/Makefile.in
/test-change-processor-rect
/test-color-op
/test-exp-combine.sh
/test-gegl-rectangle
/test-gegl-tile
/test-misc
/test-node-properties
/test-opencl-colors
/test-path
/test-proxynop-processing
/test-buffer-cast
/test-buffer-extract
/test-buffer-changes
/test-format-sensing
/test-scaled-blit
/test-svg-abyss
/test-buffer-tile-voiding