/*.la
/*.lo
/.deps
/.libs
/Makefile
/Makefile.in
/test-change-processor-rect*
/test-color-op*
/test-exp-combine.sh
/test-gegl-rectangle*
/test-gegl-tile*
/test-misc*
/test-path*
/test-proxynop-processing*
