/ChangeLog

Makefile
Makefile.in

*.exe
*.exe.mdb
*.dll
*.dll.mdb
*.dll.config

/gegl/generated
/gegl/generated-stamp
/gegl/gegl-api.raw
/gegl/gegl-api.xml
/gegl/gegl-sharp.pc
/gegl/sources

/aclocal.m4
/autom4te.cache
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltconfig
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h
/stamp-h1
/stamp-h.in

/docs/gegl-sharp-docs.tree
/docs/gegl-sharp-docs.zip
