/.deps
/.libs
/*.o
/Makefile
/Makefile.in
/report.png
/report.pdf
/test-bcontrast
/test-bcontrast-4x
/test-bcontrast-megachunk
/test-bcontrast-minichunk
/test-blur
/test-gegl-buffer-access
/test-passthrough
/test-rotate
/test-samplers
/test-saturation
/test-scale
/test-translate
/test-unsharpmask
/test-init
