/*.lo
/*.la
/*.o
/.deps
/.libs
/Makefile
/Makefile.in
/*.exe
/2geglbuffer
/frame-counter
/gegl-convert
/gegl-slicer
/geglbuffer-add-image
/geglbuffer-clock
/hello-world
/sdl-draw
/video-invert
/gegl-video
