samples/buffer
samples/format
samples/paint
samples/pipeline


.*
!.gitignore
*.o
*.vala.stamp
*.c
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
.deps
