/Makefile
/Makefile.in
/gegl.devhelp
/TODO.html
/api.html
/index-static.html
/index-static.txt
/index.html
/class-hierarchy.html
/operations.html
/runinfo
/brightness-contrast.c.html
/gegl-operation.h.html
/gegl-plugin.h.html
/gegl.h.html
/gegl-operation-area-filter.h.html
/gegl-operation-composer.h.html
/gegl-operation-filter.h.html
/gegl-operation-meta.h.html
/gegl-operation-point-composer.h.html
/gegl-operation-point-filter.h.html
/gegl-operation-point-render.h.html
/gegl-operation-sink.h.html
/gegl-operation-source.h.html
/gegl-operation-temporal.h.html
