/Makefile
/Makefile.in
/TODO.html
/api.html
/brightness-contrast.c.html
/class-hierarchy.html
/development.html
/gegl-operation-area-filter.h.html
/gegl-operation-composer.h.html
/gegl-operation-filter.h.html
/gegl-operation-meta.h.html
/gegl-operation-point-composer.h.html
/gegl-operation-point-filter.h.html
/gegl-operation-point-render.h.html
/gegl-operation-sink.h.html
/gegl-operation-source.h.html
/gegl-operation-temporal.h.html
/gegl-operation.h.html
/gegl-plugin.h.html
/gegl.devhelp
/gegl.h.html
/index-static.html
/index-static.txt
/index.html
/runinfo
/copyright.txt
/hello-world.txt
/index.txt
/abyss_policy.html
/bugzilla.html
/build.html
/commandline.html
/contribute.html
/copyright.html
/editor.html
/environment.html
/features.html
/glossary.html
/hello-world.html
/journal.html
/operation-api.html
/operations.json
/source-overview.html
/todo.html
